{% extends "include/base.html" %}

{% block Content %}
    {% for todo in todos %}
        <section class="card col-3 m-2 p-4" data-bs-theme="dark">
            <p class="card-header text-center">{{ todo.title }}</p>
            <p class="card-body">{{ todo.description }}</p>
            <div class="card-footer row justify-content-around">
                <p class="col-6">{% if todo.completed %} Completed {% else %} Not Completed {% endif %}</p>
                <p class="col-6">{{ todo.deadline }}</p>
            </div>
            <div class="row justify-content-around p-3">
                <a class="btn btn-outline-info col-4" href="{% url 'todos:editTodo' todo.id %}">Edit</a>
                <a class="btn btn-outline-danger col-4" href="{% url 'todos:deleteTodo' todo.id %}">Delete</a>
            </div>
        </section>
    {% empty %}
        <h1>There are no todos yet.</h1>
    {% endfor %}
{% endblock %}