{% extends "include/base.html" %}

{% block Content %}
    <h1 class="m-1 text-center fw-bold">Todos</h1>
    {% for todo in todos %}
        <section class="card col-3 m-2 p-4" data-bs-theme="dark">
            <p class="card-header text-center">{{ todo.title }}</p>
            <p class="card-body">{{ todo.description }}</p>
            <div class="card-footer row justify-content-around">
                <p class="col-6">{% if todo.completed %} Completed {% else %} Not Completed {% endif %}</p>
                <p class="col-6 text-center">Deadline: {{ todo.deadline }}</p>
            </div>
            <div class="row justify-content-around p-3">
                <a class="btn btn-outline-info col-4" href="{% url 'todos:editTodo' todo.id %}">Edit</a>
                <form class="col-5" method="POST" action="/delete-todo/{{ todo.id }}">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger" style="width: 100%;" type="submit">Delete</button>
                </form>
            </div>
            <div class="card-footer">
                Author: {{ todo.author.username }}
            </div>
        </section>
    {% empty %}
        <h1>There are no todos yet.</h1>
    {% endfor %}
{% endblock %}